In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("D:\Datasets_MLLab\smaller_adult.csv")

In [4]:
df.head()

,age,workclass,educational-num,occupation,gender,hours-per-week,income
0,25,Private,7,Machine-op-inspct,Male,40,<=50K
1,38,Private,9,Farming-fishing,Male,50,<=50K
2,28,Local-gov,12,Protective-serv,Male,40,>50K
3,44,Private,10,Machine-op-inspct,Male,40,>50K
4,18,?,10,?,Female,30,<=50K

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3574 entries, 0 to 3573
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              3574 non-null   int64
 1   workclass        3574 non-null   object
 2   educational-num  3574 non-null   int64
 3   occupation       3574 non-null   object
 4   gender           3574 non-null   object
 5   hours-per-week   3574 non-null   int64
 6   income           3574 non-null   object
dtypes: int64(3), object(4)
memory usage: 195.6+ KB

In [6]:
df.isin(['?']).sum()

age                  0
workclass          214
educational-num      0
occupation         214
gender               0
hours-per-week       0
income               0
dtype: int64

In [7]:
df.describe()

               age  educational-num  hours-per-week
count  3574.000000      3574.000000     3574.000000
mean     38.544208        10.051763       40.412423
std      13.739739         2.606555       12.582046
min      17.000000         1.000000        1.000000
25%      27.000000         9.000000       39.000000
50%      37.000000        10.000000       40.000000
75%      47.750000        13.000000       45.000000
max      90.000000        16.000000       99.000000

In [8]:
df['workclass']=df['workclass'].replace('?',np.nan)

In [9]:
df['occupation']=df['occupation'].replace('?',np.nan)

In [10]:
df.isin(['?']).sum()

age                0
workclass          0
educational-num    0
occupation         0
gender             0
hours-per-week     0
income             0
dtype: int64

In [11]:
df.dropna(how='any' , inplace=True)

In [13]:
print(f"There are {df.duplicated().sum()} duplicate values")

There are 238 duplicate values

In [14]:
df = df.drop_duplicates()

In [17]:
df.shape

(3122, 7)

In [18]:
df.columns

Index(['age', 'workclass', 'educational-num', 'occupation', 'gender',
       'hours-per-week', 'income'],
      dtype='object')

In [19]:
X = df.loc[:,['age','workclass','educational-num','occupation','gender','hours-per-week']]

In [20]:
Y=df.loc[:,'income']

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
Y=LabelEncoder().fit_transform(Y)
Y=pd.DataFrame(Y)
Y.head()

   0
0  0
1  0
2  1
3  1
4  0

In [24]:
numeric_features = X.select_dtypes('number')
categorical_features = X.select_dtypes('object')

In [29]:
converted_categorical_features=pd.get_dummies(categorical_features)
converted_categorical_features.shape

(3122, 23)

In [30]:
all_features=[converted_categorical_features,numeric_features]
newX = pd.concat(all_features,axis=1,join='inner')

In [31]:
newX.shape

(3122, 26)

In [32]:
newX.columns

Index(['workclass_Federal-gov', 'workclass_Local-gov', 'workclass_Private',
       'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc',
       'workclass_State-gov', 'workclass_Without-pay',
       'occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'gender_Female', 'gender_Male', 'age', 'educational-num',
       'hours-per-week'],
      dtype='object')

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train,X_test,Y_train,Y_test=train_test_split(newX,Y,test_size=0.33,random_state=42)

In [35]:
from sklearn.svm import SVC

In [36]:
clf = SVC(kernel='linear',gamma = 'auto')

In [37]:
clf.fit(X_train,Y_train.values.ravel())

SVC(gamma='auto', kernel='linear')

In [38]:
SVC(gamma='auto', kernel='linear')

SVC(gamma='auto', kernel='linear')

In [39]:
Y_pred = clf.predict(X_test)

In [40]:
predictions_df=pd.DataFrame()

In [41]:
predictions_df['predicted_salary_class']=Y_pred

In [42]:
predictions_df['actual_salary_class']=Y_test[0].values

In [43]:
predictions_df

      predicted_salary_class  actual_salary_class
0                          0                    0
1                          0                    1
2                          0                    0
3                          0                    0
4                          0                    0
...                      ...                  ...
1026                       1                    1
1027                       0                    0
1028                       0                    0
1029                       0                    0
1030                       0                    0

[1031 rows x 2 columns]

In [44]:
from sklearn.metrics import accuracy_score

In [45]:
print(accuracy_score(Y_pred,Y_test))

0.7672162948593598